# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Places API Gateway

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    name: Deployment
    runs-on: ubuntu-latest
    steps:
    - name: Deploying Places Gateway
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd google-place-api-data-manager
          git pull
          sudo systemctl restart gunicorn
          echo 'Deployment Done'
